
.view_btn {
    background-color: #3498ff;

}

#header {
    color :#4422ff;
    /*border: 5px solid #e6e6e6;*/
	/*background: #333333;*/
}

.test {
    margin: 255px;
    border: solid #ff3377;
    background-color: #3355ff;
}
